.card {
    position: relative;
    width: min(400px, 75vw);
    height: min(60vh, 600px);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.card.welcome {
    background-color: #111d;
}

.card.welcome p {
    position: relative;
    padding: 1em 1em;
    font-size: 2em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    color: #fff;
}

.card * {
    position: absolute;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card h3 {
    bottom: 5%;
    width: min(400px, 75vw);
    font-size: 1.5em;
    padding: 0.5em 0;
    text-indent: 1em;
    letter-spacing: 0.05em;
    background: linear-gradient(to right, #333e, #333d, #3332, transparent);
    color: #fff;
}

.Card_container {
    position: fixed;
    left: 50%;
    top: calc(50% - min(60vh, 600px) / 2);
    display: flex;
    justify-content: center;
}

.swipe {
    position: absolute;
}

.swipe.true h3 {
    background: linear-gradient(to right, #005020dd, #005020aa, transparent);
}

.swipe.false h3 {
    background: linear-gradient(to right, #500d00dd, #500d00aa, transparent);
}

.swipe.true::after {
    content: "CORRECT";
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    letter-spacing: 0.5em;
    padding-block: 10px;
    font-size: 1.3em;
    color: #fff;
    background: #005020aa;
}
.swipe.false::after {
    content: "WRONG";
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    letter-spacing: 0.5em;
    padding-block: 10px;
    font-size: 1.3em;
    color: #fff;
    background: #500d00cc;
}
